In [1]:
import pandas as pd

In [2]:
Data = pd.read_csv('data.csv')

In [5]:
Data.shape

(86, 2)

In [13]:
Data.head(5)

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [17]:
Data.iloc[0]

Date             Jan-2010
Profit/Losses      867884
Name: 0, dtype: object

In [18]:
Data.iloc[0,1]

867884

In [19]:
Data.iloc[0,0]

'Jan-2010'

In [20]:
Data.iloc[2,1]

322013

In [24]:
Data.iloc[:,1]

0     867884
1     984655
2     322013
3     -69417
4     310503
       ...
81    102685
82    795914
83     60988
84    138230
85    671099
Name: Profit/Losses, Length: 86, dtype: int64

In [25]:
Data.iloc[[0,3],1]

0    867884
3    -69417
Name: Profit/Losses, dtype: int64

In [26]:
Data.iloc[-1]

Date             Feb-2017
Profit/Losses      671099
Name: 85, dtype: object

In [27]:
Data.loc[0,'Profit/Losses']

867884

In [34]:
Data.loc[0:5]

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503
5  Jun-2010         522857

In [51]:
Data.loc[Data.Profit/Losses <= 522857]

AttributeError: 'DataFrame' object has no attribute 'Profit'

In [52]:
Data.set("Profit/Losses") as Gain

SyntaxError: invalid syntax (<ipython-input-52-b408a0511dce>, line 1)

In [53]:
Data.columns

Index(['Date', 'Profit/Losses'], dtype='object')

In [54]:
Data.rename(columns={'Profit/Losses': 'Gain'})

        Date    Gain
0   Jan-2010  867884
1   Feb-2010  984655
2   Mar-2010  322013
3   Apr-2010  -69417
4   May-2010  310503
..       ...     ...
81  Oct-2016  102685
82  Nov-2016  795914
83  Dec-2016   60988
84  Jan-2017  138230
85  Feb-2017  671099

[86 rows x 2 columns]

In [55]:
Data.loc[Data.Gain <= 522857]

AttributeError: 'DataFrame' object has no attribute 'Gain'

In [59]:
Data.iloc[:3]

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013

In [62]:
Data.describe()

       Profit/Losses
count   8.600000e+01
mean    4.463090e+05
std     5.363579e+05
min    -1.196225e+06
25%     1.821620e+05
50%     5.703280e+05
75%     7.952262e+05
max     1.170593e+06

In [63]:
Data.min()

Date             Apr-2010
Profit/Losses    -1196225
dtype: object

In [65]:
pd.DataFrame(Data.min())

                      0
Date           Apr-2010
Profit/Losses  -1196225

In [66]:
pd.DataFrame(Data.max())

                      0
Date           Sep-2016
Profit/Losses   1170593

In [74]:
Data.value_counts()

Date      Profit/Losses
Sep-2016   768450          1
Jan-2012  -755566          1
Feb-2012   1170593         1
Feb-2013   321469          1
Feb-2014   617856          1
                          ..
May-2010   310503          1
May-2011   485070          1
May-2012   817256          1
May-2013   565603          1
Apr-2010  -69417           1
Length: 86, dtype: int64

In [77]:
Data.min()

Date             Apr-2010
Profit/Losses    -1196225
dtype: object

In [81]:
Profit_Minimum = Data.min()

In [82]:
print(Profit_Minimum)

Date             Apr-2010
Profit/Losses    -1196225
dtype: object